html, body {
    margin: var(--size-0);
    padding: var(--size-0);
    width: var(--size-100P);
    background: linear-gradient(135deg, #667eea 0%, red 100%);
}

main {
    min-height: calc(var(--size-100vh) - var(--size-188px));
}
