:root{
    /*
    ****** COLORS
    */
    --background-color: #E76C1F;

    /*
    ****** SIZE
    */
    --size-0: 0;

    /* px */
    --size-188px: 188px;

    /* % */
    --size-100P: 100%;
    
    /* vh */
    --size-100vh: 100vh;

}
