:root{
    /*
    ****** COLORS
    */
    --background-color: #E76C1F;
    --color-light: rgba(253, 234, 220, 1);
    --color-starBackground: rgb(250, 202, 172);
    --color-commentsBackground: rgb(114, 109, 109);
    --color-white: rgb(255, 255, 255);
    --color-light: rgba(253, 234, 220);
    --color-subFooterColor: rgb(54, 53, 52);

    /*
    ****** Font
    */

    --font-family: 'Palanquin';

    /*
    ****** SIZE
    */
    --size-0: 0;

    /* px */
    --size-188px: 188px;

    /* % */
    --size-100P: 100%;
    
    /* vh */
    --size-100vh: 100vh;

}
