header, footer {
    background-color: var(--background-color);
}

html, body {
    margin: var(--size-0);
    padding: var(--size-0);
    width: var(--size-100P);
    font-family: var(--font-family);
}

main {
    min-height: calc(var(--size-100vh) - var(--size-188px));
}
